<html>
  <head>
    <title>Async API</title>
  </head>
  <body style="margin: 20px">
<script src="/asyncapi/webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
<script src="/asyncapi/web-component/lib/asyncapi-web-component.js" defer></script>

<asyncapi-component
  schemaUrl="{{{specUrl}}}"
  schemaFetchOptions='{"method":"GET","mode":"cors"}'
  cssImportPath="/asyncapi/react-component/lib/styles/fiori.css">
</asyncapi-component>

  </body>
</html>